<div class="map__control map__control--panel map__control--agri-drought-panel"
    [@controlWrapper]="controlWrapperAnimationState"
    #controlwrapper>

    <section class="map__control__section">
        <h2 class="map__control__title title">
            <span class="title__text">SVTR Forecast based on April 2019 data</span>
            <span class="pull-right title__icon title__icon--actionable" (click)="onHideButtonClick($event)">
                <i class="glyphicon glyphicon-chevron-left" placement="bottom" tooltip="Hide"></i>
            </span>
        </h2>

        <div class="map__control__body">
            <p>
                SVTR was developed by the DCAF Project to detect and assess local agricultural drought. This drought indicator follows the ratio of NDVI and LST which enables assessment of how the seasonal and interannual changes in the vegetation are related to changes in surface temperature.
            </p>

            <accordion class="accordion--s-1" closeOthers="true">
               
                <accordion-group
                *ngFor="let data of (maps )"
                (click)="redirect($event, data.slug)"
                [class.active]="isMonthActive(data.slug)"
                >

                <div accordion-heading>
                    <span class="heading__icon">
                    </span>
                    <span class="heading__text">{{data.name}}</span>
                </div>

                </accordion-group>    
            </accordion>
        </div>
    </section>
 



       <section class="map__control__section map-legend" *ngIf="isMapActive()">
        <h2 class="map__control__title title">
            <span class="title__text">Legend</span>
        </h2>

        <div class="map__control__body">
            <dl class="dl-horizontal legend-list">
                <dt class="legend-item legend-item--header legend-item--key">Severity</dt>
                <dd class="legend-item legend-item--header legend-item--value">Description</dd>

                <dt class="legend-item legend-item--color legend-item--key">
                    <span class="color-block" style="background: #ff0000;"></span>
                    <span class="hidden">Severe</span>
                </dt>
                <dd class="legend-item legend-item--value">Severe</dd>

                <dt class="legend-item legend-item--color legend-item--key">
                    <span class="color-block" style="background: #ff6900;"></span>
                    <span class="hidden">Moderate</span>
                </dt>
                <dd class="legend-item legend-item--value">Moderate</dd>

                <dt class="legend-item legend-item--color legend-item--key">
                    <span class="color-block" style="background: #ffff00;"></span>
                    <span class="hidden">Mild</span>
                </dt>
                <dd class="legend-item legend-item--value">Mild</dd>

                <dt class="legend-item legend-item--color legend-item--key">
                    <span class="color-block" style="background: #ffffff;border:1px black;"></span>
                    <span class="hidden">Normal</span>
                </dt>
                <dd class="legend-item legend-item--value">Normal</dd>
            </dl>
        </div>
    </section>

    
</div>


