<div class="info-overlay" [class.hidden]="!visible">
    <button class="btn btn--1 info-overlay__btn-trigger" (click)="toggle()">{{ btnText }}</button>
    <div class="info-overlay__content" [@infoOverlay]="overlayAnimationState">
        <div class="container">
            <div class="row content-wrapper">
                <div class="col-md-4">
                    <h2>EVI Maps</h2>

                    <p>
                        The enhanced vegetation index (EVI) is an 'optimized' vegetation index designed to enhance the vegetation signal with improved sensitivity in high biomass regions and improved vegetation monitoring. Identify the EVI date coverage to get started. Click on any point on the map to view more information.
                    </p>


                    <div>
                        <h3>Project 2.1 Community-Level SARAI-Enhanced Agricultural Monitoring System (CL SEAMS)</h3>
                    </div>

                    <div>
                        <h3>Project 3.1 Knowledge Management and Mobile Applications for Agriculture</h3>

                    </div>
                </div>
                <div class="col-md-8">
                    <figure style="margin-top: 20px">
                        <img src="/assets/img/ui/how-to-use/evi-maps.png" alt="EVI Map" class="img-responsive" />
                    </figure>

                    <h3 class="text-center">How to use</h3>

                    <div class="row">
                        <div class="col-sm-6">
                            <ol>
                                <li>
                                    <p>
                                        <strong>Select</strong> a starting date.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Select</strong> an end date.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Select</strong> a province.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Click</strong> Filter.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong class="text-uppercase">Map Source</strong> - Select one from the many types of maps to have different
                                        views of the selected location.
                                    </p>
                                </li>
                            </ol>
                        </div>

                        <div class="col-sm-6">
                            <ol start="6">
                                <li>
                                    <p>
                                        <strong>Zoom in and out</strong> of the map to have a detailed view.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Measure the area</strong> of a specific location using this tool.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Drag the slider</strong> to make the slider lighter or darker.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Click on any point</strong> on the map to view the coordinates,
                                        EVI Times Series Chart, and NDVI Day of the Year Chart
                                    </p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


