
<div class="map__control map__control--panel"
    [@controlWrapper]="controlWrapperAnimationState"
    #controlwrapper>

    <section class="map__control__section">
        <h2 class="map__control__title title">
            <span class="title__text">{{ 'NDVI.TITLE' | translate }}</span>
            <span class="pull-right title__icon title__icon--actionable" (click)="onHideButtonClick($event)">
                <i class="glyphicon glyphicon-chevron-left" placement="bottom" tooltip="Hide"></i>
            </span>
        </h2>

        <div class="map__control__body">
            <p>
                SARAI NDVI map makes use of satellite data for crop monitoring. Identify the NDVI date coverage to get started.
                Click on any point on the map to view more information.
            </p>

            <app-ndvi-filter-form></app-ndvi-filter-form>
        </div>
    </section>

    <section class="map__control__section map-legend" *ngIf="isMapActive()">
        <h2 class="map__control__title title">
            <span class="title__text">Legend</span>
        </h2>

        <div class="map__control__body">
            <dl class="dl-horizontal legend-list">
                <dt class="legend-item legend-item--header legend-item--key">NDVI</dt>
                <dd class="legend-item legend-item--header legend-item--value">Value(0-1)</dd>

                <dt class="legend-item legend-item--color legend-item--key">
                    <span class="color-block" style="background: linear-gradient(to right, #FFFFFF , #F1B555);"></span>
                    <span class="hidden">0 to 0.2</span>
                </dt>
                <dd class="legend-item legend-item--value">0 to .2</dd>

                <dt class="legend-item legend-item--color legend-item--key">
                    <span class="color-block" style="background: linear-gradient(to right, #FCD163 , #66A000);"></span>
                    <span class="hidden">0.2 to 0.4</span>
                </dt>
                <dd class="legend-item legend-item--value">0.2 to 0.4</dd>

                <dt class="legend-item legend-item--color legend-item--key">
                    <span class="color-block" style="background: linear-gradient(to right, #529400 , #056201);"></span>
                    <span class="hidden">0.4 to 0.6</span>
                </dt>
                <dd class="legend-item legend-item--value">0.4 to 0.6</dd>

                <dt class="legend-item legend-item--color legend-item--key">
                    <span class="color-block" style="background: linear-gradient(to right, #004C00 , #023B01);"></span>
                    <span class="hidden">0.6 to 0.8</span>
                </dt>
                <dd class="legend-item legend-item--value">0.6 to 0.8</dd>
                <dt class="legend-item legend-item--color legend-item--key">
                    <span class="color-block" style="background: linear-gradient(to right, #012E01 , #011301);"></span>
                    <span class="hidden">0.8 to 1</span>
                </dt>
                <dd class="legend-item legend-item--value">0.8 to 1</dd>
            </dl>
        </div>
    </section>

</div>