<div class="map__control map__control--panel"
    [@controlWrapper]="controlWrapperAnimationState"
    #controlwrapper>

    <section class="map__control__section">
        <h2 class="map__control__title title">
            <span class="title__text">{{ 'RAINFALL.TITLE' | translate }}</span>
            <span class="pull-right title__icon title__icon--actionable" (click)="onHideButtonClick($event)">
                <i class="glyphicon glyphicon-chevron-left" placement="bottom" tooltip="Hide"></i>
            </span>
        </h2>

        <div class="map__control__body">
            <p class="map__control__info-block">
                Data from CHIRPS daily rainfall displayed here is the accumulated rainfall over the time period.
                Identify the rainfall data date coverage to get started.
            </p>

            <app-rainfall-map-filter-form></app-rainfall-map-filter-form>
        </div>
    </section>

    <section class="map__control__section map-legend" *ngIf="isMapActive()">
        <h2 class="map__control__title title">
            <span class="title__text">Legend</span>
        </h2>

        <div class="map__control__body">
            <dl class="dl-horizontal legend-list">
                <dt class="legend-item legend-item--header legend-item--key">Rainfall</dt>
                <dd class="legend-item legend-item--header legend-item--value">(mm)</dd>


                <dt class="legend-item legend-item--color legend-item--key">
                    <span class="color-block" style="background: #E0E0E0;"></span>
                    <span class="hidden">50.0</span>
                </dt>
                <dd class="legend-item legend-item--value">50.0</dd>

                <dt class="legend-item legend-item--color legend-item--key">
                    <span class="color-block" style="background: #CAE5FE;"></span>
                    <span class="hidden">100.0</span>
                </dt>
                <dd class="legend-item legend-item--value">100.0</dd>

                <dt class="legend-item legend-item--color legend-item--key">
                    <span class="color-block" style="background: #6FBEFD;"></span>
                    <span class="hidden">200.0</span>
                </dt>
                <dd class="legend-item legend-item--value">200.0</dd>

                <dt class="legend-item legend-item--color legend-item--key">
                    <span class="color-block" style="background: #4662FD;"></span>
                    <span class="hidden">300.0</span>
                </dt>
                <dd class="legend-item legend-item--value">300.0</dd>

                <dt class="legend-item legend-item--color legend-item--key">
                    <span class="color-block" style="background: #1C2371;"></span>
                    <span class="hidden">400.0</span>
                </dt>
                <dd class="legend-item legend-item--value">400.0</dd>

                <dt class="legend-item legend-item--color legend-item--key">
                    <span class="color-block" style="background: #000000;"></span>
                    <span class="hidden">500.0</span>
                </dt>
                <dd class="legend-item legend-item--value">500.0<</dd>
            </dl>
        </div>
    </section>
</div>


